<div name="top" fxlayout="col" fxlayoutalign="space-between">
  <h1>What to do?</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else"
  mode="indeterminate"
></mat-progress-spinner>

<mat-card fxlayout="col" fxlayoutalign="space-between">
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{error | async}}
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <input
          type="text"
          name="title"
          ngModel
          matInput/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>User</mat-label>
        <mat-select name="user" ngModel>
          <ng-container *ngFor="let u of user | async">
            <mat-option [value]="u._id">{{ u.username }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid || (loading | async)"
      >Save
      </button>
    </form>
  </mat-card-content>
</mat-card>
