<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between flex-start">
    <a style="text-decoration: none" routerLink="/task">MY TODO list</a></div>
  <a routerLink="/new-task" mat-button>NEW TASK</a>
</mat-toolbar>

<router-outlet></router-outlet>
