<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else tasksArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #tasksArea>
  <div>
    <h4>Tasks: </h4>
    <mat-card *ngFor="let item of task | async">
      <mat-card-title>Task: {{item.title}} </mat-card-title>
      <mat-card-content>

        <mat-form-field appearance="fill">
          <mat-label>User</mat-label>
          <select name="user" required matNativeControl (change)="onEditUser(item._id, $event)">
            <option *ngFor="let i of user | async" [value]="i._id">{{ i.username }}</option>
            <option value="{{ item.user._id}}">{{ item.user.username }}</option>
          </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Status:</mat-label>
          <select name="status" required matNativeControl (change)="onEditStatus(item._id, $event)">
            <option *ngIf="item.status" [value]="item.status">{{item.status}}</option>
            <option value="new" *ngIf="item.status !== 'new'">New</option>
            <option value="in_progress" *ngIf="item.status !== 'In progress'">In progress</option>
            <option value="complete" *ngIf="item.status !== 'Complete'">Complete</option>
          </select>
        </mat-form-field>

        <button mat-icon-button mat-mini-fab color="warn" type="button" (click)="onDelete(item._id)">
          <span class="material-icons">clear</span>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
