.mat-card
  margin-top: 20px
  margin-left: 30px
  margin-right: 30px
.mat-card-content
  justify-content: space-between
.example-additional-selection
  opacity: 0.75
  font-size: 0.75em
.mat-label
  margin-right: 20px
  margin-left: 20px
.mat-form-field
  margin: 30px
  align-items: flex-start
.mat-card
  margin-left: 8px
h4
  margin-top: 20px
  margin-bottom: 20px
  text-align: center
  font-size: 40px
  font-weight: bold

